/* less Game_library */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://www.merrier.wang> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: 'Arial';
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.caret {
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  height: 100%;
}
html body {
  font-family: "微软雅黑";
  height: 100%;
  width: 100%;
  /*预加载*/
  /*注册页面*/
  /*转发好友*/
  /*获得奖品蒙版*/
  /*助力成功*/
  /*统计数字提示信息开始*/
}
html body .img_responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
html body .mask_white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #fff;
  z-index: 1;
  display: none;
}
html body .mask_black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #000;
  z-index: 1;
  display: none;
}
html body .mask_black_noclick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #000;
  z-index: 1;
  display: none;
}
html body .mask_common {
  position: fixed;
  z-index: 2;
}
html body .mask_box {
  position: relative;
  width: 100%;
  height: 100%;
}
html body .fakeloader {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  margin-top: -30px;
}
html body .fl {
  margin: 0 auto;
}
html body .fakeloader_percent {
  margin: 10px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
html body .register {
  position: fixed;
  top: 15%;
  left: 5%;
  width: 90%;
  z-index: 2;
  display: block;
  padding: 0.8rem 0;
  font-size: 1rem;
}
html body .register label {
  display: block;
  margin: 0.2rem 0;
  clear: both;
}
html body .register .reg_input {
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  line-height: 2rem;
  font-size: 0.7rem;
  border: 1px solid #f09091;
}
html body .register .reg_box {
  position: relative;
  overflow: hidden;
}
html body .register .reg_btn {
  float: right;
  width: 5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  text-decoration: none;
  font-size: 0.7rem;
}
html body .register .reg_btn_gray {
  background-color: #afafaf !important;
  color: #EEE !important;
}
html body .register .reg_tips {
  position: absolute;
  font-size: 9px;
  color: #f7d54e;
}
html body .register .reg_btn_mask {
  display: none;
  position: absolute;
  width: 7.5rem;
  height: 2.4rem;
  right: 0;
  bottom: 0;
}
html body .register #reg_btn_register {
  text-indent: 1rem;
  letter-spacing: 1rem;
}
html body .rule_box {
  width: 14rem;
  height: 80%;
  top: 10%;
  left: calc(50% - 7rem);
  z-index: 2;
}
html body .rule_box .rule_header {
  width: 100%;
  height: 7.5rem;
}
html body .rule_box .rule_header > img {
  width: 100%;
  height: 100%;
}
html body .rule_box .rule_content {
  height: calc(100% - 7.5rem);
  background-color: #fff;
  padding: 0 0.4rem;
  padding-top: 0.4rem;
  color: #af9c00;
  font-size: 0.7rem;
  overflow-x: hidden;
  overflow-y: auto;
}
html body .rule_box .rule_content .rule_content_box {
  margin-bottom: 0.6rem;
  line-height: 1rem;
}
html body .rule_box .rule_content .rule_content_box .rule_title {
  font-weight: bold;
  font-size: 0.8rem;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_des {
  margin-bottom: 10px;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_tips {
  font-weight: 400;
  font-size: 0.6rem;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_img {
  width: 100%;
  height: auto;
}
html body .forward {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
html body .mask_prize {
  height: 334px;
  margin-top: -167px;
}
html body .mask_prize_head {
  width: 100%;
  margin-bottom: 15px;
}
html body .mask_prize_title {
  position: absolute;
  width: 100%;
  height: 35px;
  line-height: 35px;
  top: 0;
  text-align: center;
  font-size: 20px;
}
html body .mask_prize_crown {
  width: 90px;
  margin: 0 auto;
}
html body .mask_prize_box {
  width: 210px;
  margin: 0 auto;
  margin-top: -25px;
}
html body .mask_prize_content {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
html body .mask_help_details {
  text-align: center;
  margin-top: 15px;
}
html body .mask_help_main {
  height: 45px;
  width: 100%;
  padding: 0 25px;
  margin-top: 10px;
  line-height: 50px;
}
html body .mask_help_headimg {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 5px;
}
html body .mask_help_nickname {
  float: left;
  width: 115px;
  text-align: center;
  font-size: 12px;
}
html body .input_num_box {
  position: absolute;
  color: #1c1c1c;
}
