/* less crowd_funding */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://www.merrier.wang> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
/* less Game_library */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://www.merrier.wang> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: 'Arial';
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.caret {
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
html body {
  /*注册页面*/
  /*转发好友*/
  /*统计数字提示信息开始*/
}
html body .img_responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
html body .mask_white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #fff;
  z-index: 9998;
  display: none;
}
html body .mask_black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #000;
  z-index: 9998;
  display: none;
}
html body .mask_black_noclick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #000;
  z-index: 9998;
  display: none;
}
html body .mask_common {
  position: fixed;
  z-index: 10000;
}
html body .mask_box {
  position: relative;
  width: 100%;
  height: 100%;
}
html body .register {
  position: fixed;
  top: 15%;
  left: 5%;
  width: 90%;
  z-index: 9999;
  display: block;
  padding: 0.8rem 0;
  font-size: 1rem;
}
html body .register label {
  display: block;
  margin: 0.2rem 0;
  clear: both;
}
html body .register .reg_input {
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  line-height: 2rem;
  font-size: 0.7rem;
  border: 1px solid #f09091;
}
html body .register .reg_box {
  position: relative;
  overflow: hidden;
}
html body .register .reg_btn {
  float: right;
  width: 5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  text-decoration: none;
  font-size: 0.7rem;
}
html body .register .reg_btn_gray {
  background-color: #afafaf !important;
  color: #EEE !important;
}
html body .register .reg_tips {
  position: absolute;
  font-size: 9px;
  color: #f7d54e;
}
html body .register .reg_btn_mask {
  display: none;
  position: absolute;
  width: 7.5rem;
  height: 2.4rem;
  right: 0;
  bottom: 0;
}
html body .register #reg_btn_register {
  text-indent: 1rem;
  letter-spacing: 1rem;
}
html body .rule_box {
  width: 14rem;
  height: 80%;
  top: 10%;
  left: calc(50% - 7rem);
}
html body .rule_box .rule_header {
  width: 100%;
  height: 7.5rem;
}
html body .rule_box .rule_header > img {
  width: 100%;
  height: 100%;
}
html body .rule_box .rule_content {
  height: calc(100% - 7.5rem);
  background-color: #fff;
  padding: 0 0.4rem;
  padding-top: 0.4rem;
  color: #af9c00;
  font-size: 0.7rem;
  overflow-x: hidden;
  overflow-y: auto;
}
html body .rule_box .rule_content .rule_content_box {
  margin-bottom: 0.6rem;
  line-height: 1rem;
}
html body .rule_box .rule_content .rule_content_box .rule_title {
  font-weight: bold;
  font-size: 0.8rem;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_des {
  margin-bottom: 10px;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_tips {
  font-weight: 400;
  font-size: 0.6rem;
}
html body .rule_box .rule_content .rule_content_box .rule_prize_img {
  width: 100%;
  height: auto;
}
html body .forward {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
html body .input_num_box {
  position: absolute;
  color: #1c1c1c;
}
html {
  height: 100%;
}
html body {
  font-family: 'Microsoft Yahei', '微软雅黑';
  background-color: #e13e3d;
}
html body .main .head_market_logo {
  position: absolute;
  width: 8rem;
  margin-left: calc(50% - 4rem);
}
html body .main .sign_logo {
  width: 100%;
  margin-top: 3rem;
}
html body .main .forward {
  background-image: url("../images/forward.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
html body .main .rule_header {
  background-color: #e13e3d;
}
html body .main .help_btn_box {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
html body .main .help_btn_box .help_btn {
  display: block;
  width: 7rem;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  background-image: url("../images/btn_bg_big.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}
html body .main .help_btn_box .btn_friends_help,
html body .main .help_btn_box .btn_share {
  float: left;
}
html body .main .help_btn_box .btn_goplay,
html body .main .help_btn_box .btn_return_sign {
  float: right;
}
html body.index {
  height: 100%;
  background-image: url("../images/index_bg.png");
  background-position: 0 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
html body.index .main .index_marquee {
  position: fixed;
  bottom: 23%;
  background-color: #ffffff;
  height: 2rem;
  line-height: 2rem;
  font-family: '黑体';
  color: #e74a84;
  font-size: 0.7rem;
}
html body.index .main .index_begin {
  position: fixed;
  bottom: 10%;
  width: 7rem;
  height: 2rem;
  left: calc(50% - 3.5rem);
  background-image: url("../images/btn_bg_big.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 400;
  text-decoration: none;
}
html body.index .main .btn_activity_des {
  position: fixed;
  bottom: 3%;
  width: 3rem;
  left: calc(50% - 1.5rem);
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}
html body.body_register .main .register .reg_img_short {
  width: 4rem;
  margin-bottom: -0.2rem;
}
html body.body_register .main .register label {
  font-family: '黑体';
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 400;
}
html body.body_register .main .register .reg_btn {
  color: #ffffff;
  background-color: #00bfd7;
}
html body.body_register .main .register .reg_img_long {
  float: right;
  width: 5.5rem;
  padding-left: 6rem;
  margin-top: 0.5rem;
}
html body.body_register .main .register #code_random {
  display: none;
}
html body.sign {
  height: 100%;
}
html body.sign .main {
  height: 100%;
}
html body.sign .main .sign_main {
  position: relative;
}
html body.sign .main .sign_main .sign_head_content {
  height: 2.5rem;
  padding: 0.1rem 0.5rem 0.1rem 1.5rem;
  margin-bottom: 0.25rem;
  line-height: 2.5rem;
  background-color: #ffffff;
}
html body.sign .main .sign_main .sign_head_content .sign_headimg {
  float: left;
  height: 100%;
  margin-right: 0.8rem;
}
html body.sign .main .sign_main .sign_head_content .sign_phone {
  float: left;
  color: #e74a84;
  font-size: 0.65rem;
  margin-right: 0.5rem;
}
html body.sign .main .sign_main .sign_head_content .sign_money {
  float: left;
  color: #e74a84;
  font-size: 0.9rem;
  font-weight: bold;
}
html body.sign .main .sign_main .sign_head_content .btn_sign {
  float: right;
  width: 3.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: #e13e3d;
  color: #ffffff;
  font-size: 0.6rem;
  text-decoration: none;
  border-radius: 0.3rem;
}
html body.sign .main .sign_main .sign_head_content .btn_sign.btn_sign_disable {
  background-color: #afafaf;
  color: #EEE;
}
html body.sign .main .sign_main .btn_activity_des {
  position: absolute;
  top: 3rem;
  width: 3rem;
  right: 0.5rem;
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  z-index: 2;
}
html body.sign .main .sign_main .sign_prize_show {
  position: relative;
  width: 80%;
  height: 8.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25rem;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_left {
  position: absolute;
  height: 1.4rem;
  top: 50%;
  left: 0;
  margin-top: -0.7rem;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_right {
  position: absolute;
  height: 1.4rem;
  top: 50%;
  right: 0;
  margin-top: -0.7rem;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_now {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_now .prize_show_main {
  position: absolute;
  width: 600%;
  height: 100%;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_now .prize_show_main .prize_show_item {
  float: left;
  width: 16.66666667%;
  height: 100%;
}
html body.sign .main .sign_main .sign_prize_show .prize_show_now .prize_show_main .prize_show_item > img {
  width: 100%;
  height: 100%;
}
html body.sign .main .sign_main .sign_btn_launch {
  display: block;
  width: 8rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  background-image: url("../images/btn_bg_big.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}
html body.main .main_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
}
html body.main .main_content .main_prize_name {
  margin: 0.5rem 0;
}
html body.main .main_content .main_prize_progress {
  position: relative;
  height: 0.8rem;
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.8rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: inset 2px 3px 5px #aaa;
}
html body.main .main_content .main_prize_progress .prize_progress_tips {
  position: absolute;
  top: 0;
  right: 0.2rem;
  line-height: 1rem;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  z-index: 2;
}
html body.main .main_content .main_prize_progress .prize_progress_box {
  position: relative;
  width: 100%;
  height: 100%;
}
html body.main .main_content .main_prize_progress .prize_progress_box .prize_progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45%;
  border-radius: 0.3rem;
  background: -moz-linear-gradient(top, rgba(250, 181, 67, 0) 0%, rgba(250, 177, 63, 0) 7%, rgba(250, 175, 61, 0.08) 10%, rgba(250, 173, 59, 0.64) 14%, rgba(250, 172, 57, 0.98) 17%, #f9aa37 21%, #f7951e 48%, #f37610 79%, rgba(243, 115, 15, 0.98) 83%, rgba(243, 113, 14, 0.65) 86%, rgba(242, 110, 13, 0.09) 90%, rgba(242, 108, 12, 0) 93%, rgba(241, 104, 11, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(250, 181, 67, 0) 0%, rgba(250, 177, 63, 0) 7%, rgba(250, 175, 61, 0.08) 10%, rgba(250, 173, 59, 0.64) 14%, rgba(250, 172, 57, 0.98) 17%, #f9aa37 21%, #f7951e 48%, #f37610 79%, rgba(243, 115, 15, 0.98) 83%, rgba(243, 113, 14, 0.65) 86%, rgba(242, 110, 13, 0.09) 90%, rgba(242, 108, 12, 0) 93%, rgba(241, 104, 11, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(250, 181, 67, 0) 0%, rgba(250, 177, 63, 0) 7%, rgba(250, 175, 61, 0.08) 10%, rgba(250, 173, 59, 0.64) 14%, rgba(250, 172, 57, 0.98) 17%, #f9aa37 21%, #f7951e 48%, #f37610 79%, rgba(243, 115, 15, 0.98) 83%, rgba(243, 113, 14, 0.65) 86%, rgba(242, 110, 13, 0.09) 90%, rgba(242, 108, 12, 0) 93%, rgba(241, 104, 11, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
html body.main .main_content .main_prize_already {
  margin-bottom: 0.8rem;
}
html body.main .main_content .main_records {
  height: 17rem;
  margin: 0.5rem 0;
  margin-top: 0.8rem;
  padding: 0.6rem;
  background-image: url("../images/records_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}
html body.main .main_content .main_records .main_records_title {
  width: 7rem;
  height: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8rem;
  text-align: center;
  color: #e13e3d;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffffff;
}
html body.main .main_content .main_records .main_records_content {
  margin-top: 0.6rem;
  line-height: 1.2rem;
}
html body.main .main_content .main_records .main_records_content .main_records_friends {
  max-height: 13.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
html body.main .main_content .main_records .main_records_content .main_records_friends .records_friends_new {
  display: none;
}
