@charset "utf-8";

/*通用*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

html {
    height: 100%;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

.img_responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

/*预加载*/
.fakeloader {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    margin-top: -30px;
}

.fl {
    margin: 0 auto;
}

.fakeloader_percent {
    margin: 10px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

/*通用蒙版*/
.mask_white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #fff;
    z-index: 9998;
    display: none;
}

.mask_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998;
    display: none;
}

.mask_black_noclick {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998;
    display: none;
}

.mask_common {
    position: fixed;
    width: 220px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -130px;
    z-index: 10000;
}

.mask_box {
    width: 100%;
    height: 100%;
    position: relative;
    color: #ffffff;
}

.mask_close {
    display: block;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #fe6c64;
    border-radius: 5px;
    letter-spacing: 10px;
    text-indent: 10px;
}

/*我的奖品蒙版*/
.mask_myprize {
    width: 200px;
    margin-left: -100px;
}

.mask_head_img {
    display: block;
    width: 80px;
    height: auto;
    margin: 0 auto;
}

.mask_content {
    background-color: #ffffff;
    border: 2px solid #fe6c64;
    border-radius: 5px;
    height: 180px;
    margin-top: -4px;
    color: #fe6c64;
}

.myprize_con_main {
    width: 100%;
    height: 110px;
    line-height: 140px;
    font-size: 20px;
    text-align: center;
}

/*获得奖品蒙版*/
.mask_prize {
    height: 334px;
    margin-top: -167px;
}

.mask_prize_head {
    width: 100%;
    margin-bottom: 15px;
}

.mask_prize_title {
    position: absolute;
    width: 100%;
    height: 35px;
    line-height: 35px;
    top: 0;
    text-align: center;
    font-size: 20px;
}

.mask_prize_crown {
    width: 90px;
    margin: 0 auto;
}

.mask_prize_box {
    width: 210px;
    margin: 0 auto;
    margin-top: -25px;
}

.mask_prize_content {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

/*注册页面*/
.register {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 90%;
    z-index: 9999;
    display: block;
    padding: 10px 0;
    font-size: 16px;
}

.register label {
    display: block;
    margin: 10px 0;
    color: #d40046;
    text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #fff, 0px 0px 5px #fff, 0px 0px 6px #fff, 0px 0px 7px #fff, 0px 0px 8px #fff, 0px 0px 9px #fff, 0px 0px 10px #fff;
    clear: both;
}

.register .reg_input {
    width: 100%;
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
    display: block;
    border: 1px solid #f09091;
}

.register .reg_box {
    position: relative;
    overflow: hidden;
}

.register .reg_btn {
    width: 120px;
    height: 38px;
    margin-top: 12px;
    text-align: center;
    line-height: 38px;
    background: #f09091;
    color: #fff;
    font-size: 16px;
    float: right;
    text-decoration: none;
}

.register .reg_btn_gray {
    background-color: #afafaf;
    color: #EEE;
}

.register .reg_tips {
    font-size: 9px;
    color: #ff0000;
}

.register .reg_btn_mask {
    display: none;
    position: absolute;
    width: 120px;
    height: 38px;
    right: 0;
    bottom: 0;
}

.register #reg_btn_register {
    text-indent: 20px;
    letter-spacing: 20px;
}

.close_page {
    color: #fff;
    margin-top: 10px;
    width: 64px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    float: right;
    font-size: 16px;
}

/*转发好友*/
.forward {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.img_responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

/*助力成功*/
.mask_help_details {
    text-align: center;
    margin-top: 15px;
}

.mask_help_main {
    height: 45px;
    width: 100%;
    padding: 0 25px;
    margin-top: 10px;
    line-height: 50px;
}

.mask_help_headimg {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 5px;
}

.mask_help_nickname {
    float: left;
    width: 115px;
    text-align: center;
    font-size: 12px;
}

/*活动规则介绍*/

.rule_div {
    width: 100%;
    text-align: right;
    position: fixed;
    top: 10px;

}

.rule {
    font-size: 14px;
    color: white;
    margin-right: 20px;
}

.rule_box {
    width: 80%;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 9999;
    display: none;
    margin-left: 0;
    margin-top: 0;
}

.rule_content {
    background: #fff;
    padding: 0 10px;
    padding-top: 10px;
    color: #af9c00;
    margin-top: -10px;
    font-size: 14px;
    height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rule_content_box {
    margin-bottom: 20px;
}

.rule_title {
    font-weight: bold;
    font-size: 15px;
}

.rule_prize_des {
    margin-bottom: 10px;
}

.rule_prize_tips {
    font-weight: bold;
    font-size: 12px;
}

.rule_prize_img {
    width: 100%;
    height: auto;
}