html {
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: "pop";
    src: url("../fonts/pop.ttf");
}

body {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.music {
    width: 1rem;
}

.logo {
    width: 9rem;
    padding-top: 0.7rem;
    display: block;
}

.puzzle_word {
    width: 95%;
}

.gift_word {
    width: 12rem;
    height: 4rem;
    margin-top: -1rem;
}

.animation_name {
    -webkit-animation-name: rotate1, rotate4;
    -moz-animation-name: rotate1, rotate4;
    -o-animation-name: rotate1, rotate4;
    -webkit-animation-delay: 0s, 3s;
    -moz-animation-delay: 0s, 3s;
    -o-animation-delay: 0s, 3s;
    -webkit-animation-duration: 1s, 2s;
    -moz-animation-duration: 1s, 2s;
    -o-animation-duration: 1s, 2s;
    -webkit-animation-iteration-count: 3, 1;
    -moz-animation-iteration-count: 3, 1;
    -o-animation-iteration-count: 3, 1;
}

.vision {
    position: relative;
}

.vision1 {
    position: absolute;
    left: 2rem;
    top: 0rem;
    width: 6rem;
    height: 5rem;
    z-index: 9999;
    /*-webkit-animation: rotate4 2s 5s;*/
    /*-moz-animation-delay: 5s;*/

}

@keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg) translate(0rem, 0rem);
        -moz-transform: rotate(0deg) translate(0rem, 0rem);
        -ms-transform: rotate(0deg) translate(0rem, 0rem);
        -o-transform: rotate(0deg) translate(0rem, 0rem);

    }
    50% {
        -webkit-transform: rotate(180deg) translate(-8rem, -5rem);
        -moz-transform: rotate(180deg) translate(-8rem, -5rem);
        -ms-transform: rotate(180deg) translate(-8rem, -5rem);
        -o-transform: rotate(180deg) translate(-8rem, -5rem);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(0rem, 0rem);
        -moz-transform: rotate(360deg) translate(0rem, 0rem);
        -ms-transform: rotate(360deg) translate(0rem, 0rem);
        -o-transform: rotate(360deg) translate(0rem, 0rem);
    }
}

@keyframes rotate4 {

    0% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);

    }
    /*50%{-webkit-transform: scale(2,2);*/
    /*}*/
    100% {
        -webkit-transform: scale(4, 4);
        -moz-transform: scale(4, 4);
        -ms-transform: scale(4, 4);
        -o-transform: scale(4, 4);
    }
}

.vision2 {
    position: absolute;
    top: 0rem;
    left: 8rem;
    width: 6rem;
    height: 5rem;
    /*-webkit-animation: rotate2 2s;*/
}

@keyframes rotate2 {
    0% {
        -webkit-transform: rotate(0deg) translate(0rem, 0rem);
        -moz-transform: rotate(0deg) translate(0rem, 0rem);
        -ms-transform: rotate(0deg) translate(0rem, 0rem);
        -o-transform: rotate(0deg) translate(0rem, 0rem);

    }
    50% {
        -webkit-transform: rotate(180deg) translate(6rem, -5rem);
        -moz-transform: rotate(180deg) translate(6rem, -5rem);
        -ms-transform: rotate(180deg) translate(6rem, -5rem);
        -o-transform: rotate(180deg) translate(6rem, -5rem);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(0rem, 0rem);
        -moz-transform: rotate(360deg) translate(0rem, 0rem);
        -ms-transform: rotate(360deg) translate(0rem, 0rem);
        -o-transform: rotate(360deg) translate(0rem, 0rem);
    }
}

.vision3 {
    position: absolute;
    top: 5rem;
    left: 2rem;
    width: 6rem;
    height: 5rem;
    /*-webkit-animation: rotate3 2s;*/
}

@keyframes rotate3 {
    0% {
        -webkit-transform: rotate(0deg) translate(0rem, 0rem);
        -moz-transform: rotate(0deg) translate(0rem, 0rem);
        -ms-transform: rotate(0deg) translate(0rem, 0rem);
        -o-transform: rotate(0deg) translate(0rem, 0rem);

    }
    50% {
        -webkit-transform: rotate(180deg) translate(-5rem, 6rem);
        -moz-transform: rotate(180deg) translate(-5rem, 6rem);
        -ms-transform: rotate(180deg) translate(-5rem, 6rem);
        -o-transform: rotate(180deg) translate(-5rem, 6rem);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(0rem, 0rem);
        -moz-transform: rotate(360deg) translate(0rem, 0rem);
        -ms-transform: rotate(360deg) translate(0rem, 0rem);
        -o-transform: rotate(360deg) translate(0rem, 0rem);
    }
}

.vision4 {
    position: absolute;
    top: 5rem;
    left: 8rem;
    width: 6rem;
    height: 5rem;
}

.start_game {
    position: fixed;
    width: 5rem;
    left: 5.2rem;
    bottom: -0.5rem;
}

.activity_rules {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -11.5rem;
    left: 5.6rem;
}

.rule-box {
    font-family: pop;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: calc(50% - 8rem);
    left: 15%;
    width: 11rem;
    border-radius: 17px;
    z-index: 999999;

}

.close {
    position: absolute;
    top: 2rem;
    width: 1rem;
    left: 11.2rem;
}

.share {
    position: fixed;
    left: 0rem;
    top: 0rem;
    display: none;
    z-index: 9999999;
}

.share img {
    width: 100%;
}

.rule_header {
    width: 100%;
    height: 4rem;
    background-color: rgb(254, 228, 11);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.rule_header img {
    width: 80%;
    height: 100%;
}

.mid-center {
    text-align: center;
}

.rule-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 12rem;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal_block {
    font-family: pop;
    display: none;
    position: fixed;
    left: calc(50% - 6rem);
    width: 12rem;
    height: 12rem;

}

.modal_block img {
    width: 100%;
    height: 100%;
}

.game_count {
    position: relative;
    top: -9rem;

}

.click_wechat {
    float: left;
    width: 40%;
    margin-left: 1rem;
    margin-top: 2.6rem;

}

.share_friends {
    float: left;
    margin-left: 0.5rem;
    width: 40%;
    margin-top: 2.6rem;

}

.word {
    margin: 0.5rem;
}

.refer_ranklist {
    position: fixed;
    bottom: 5rem;
    left: calc(50% - 1.5rem);
    font-family: pop;
    text-decoration: underline;
    display: none;
    width: 3rem;

}

.list_rank {
    position: relative;
    width: 100%;
    height: 100%;
}

.list_rank img {
    width: 12rem;
    height: 18rem;
}

.mask-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998;
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rank_list {
    display: none;
    width: 90%;
    height: 17rem;
    /*overflow-y: auto;*/
    background-image: url("../images/rank_list.png");
    background-size: 100% 100%;
    margin: auto;
    position: fixed;
    top: 4rem;
    left: 5%;
    padding: 1.2rem;
    text-align: center;
    font-family: "pop";
    z-index: 9999999;
    font-size: 0.6rem;
}

.stop_hua {
    overflow-y: hidden;
}

.close_button {
    position: absolute;
    top: -0.2rem;
    right: -0.4rem;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 10000000;
}

.rank_header {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    font-size: 0.8rem;
}

.rank_content {
    width: 100%;
    height: 82%;
    overflow-y: auto;
}

.photo {
    position: absolute;
    left: 0.5rem;
}

.nick {
    position: absolute;
    left: 3rem;
}

.time {
    position: absolute;
    right: 1rem;
}

.rank_item {
    width: 100%;
    height: 2.6rem;
    border: 2px solid #000;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 0.4rem;
}

.img_photo {
    position: absolute;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    top: 0.2rem;
    border-radius: 1rem;
}

.rank {
    position: absolute;
    left: 3rem;
    top: 0.3rem;
    color: #FF4136;
}

.name {
    position: absolute;
    left: 3rem;
    top: 1.3rem;
}

.cost_time {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

