@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
.loading{
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #e82d30;
    color: #fff;
    text-align: center;
}
html{
    background: #e82d30;
}
body{
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
}
.img_responsive{
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.hide{
    display: none;
}
.content{
    background: #e82d30;
    margin-top: -5px;
}
.oper_group{
    padding: 10px 20px;
    padding-bottom: 0px;
    position: relative;
  /*  display: none;*/
}
.oper_li{
    display: inline-block;
    width: 49%;
}
.oper_a{
    display: inline-block;
    width: 90%;
}
.tips{
    text-align: right;
    color: #ffe40a;
    padding: 10px 30px;
  /*  font-family: "黑体";*/
    font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
}
.content_1{
    position: relative;
}
.rule{
    color: #ffe40a;
}
.show_li{
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #000;
    float: left;
    height: 30px;
    line-height: 30px;
}
.show_li.active{
    background: #a00003;
}
.show_li .active-caret {
    display: none;
}
.show_li.active .active-caret{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.cus_list{
    margin: 10px 0;
}
.cus_tr,.cus_tr2{
    padding: 10px 0;
}
.cus_mess{
    float: left;
    width: 50%;
    text-align: center;
}
.cus_li{
    display: inline-block;
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding-left: 4%;
}
.show_more,.show_more2{
    width: 100%;
    margin: 0 auto;
    display: none;
}
.more_img{
    display: block;
    margin: 0 auto;
    width: 56%;
}
.rule_div{
    position: absolute;
    top: 0px;
    right: 0px;
}
.h_f_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity = 75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998;
    display:none;
}
.rule_box{
    width: 80%;
    position: fixed;
    top: 4%;
    left: 10%;
    z-index: 9999;
    display: none;
}
.rule_content{
    background: #fff;
    padding: 20px 10px;
    color: #af9c00;
    margin-top: -10px;
    font-size: 13px;
}
/*注册页面*/
.register{
    position: fixed;
    top: 15%;
    left: 5%;
    width: 90%;
    z-index: 9999;
    display:none;
    padding:10px 0;
}
.mask_zhuce{
    width: 120px;
    height: 50px;
    filter: alpha(opacity = 75);
    -moz-opacity: .25;
    -khtml-opacity: .25;
    opacity: .25;
    background-color: #000;
    position: absolute;
    right: 0px;

}
.close_page{
    color: #fff;
    margin-top: 10px;
    width: 64px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    float: right;
    font-size: 16px;
}
.register label{
    display:block;
    margin: 10px 0;
    color:#fff;
    clear:both;
}
.register  .frm_desc{
    font-size:9px;
    color:#fff;
}
.register  .rect{
    width: 100%;
    height: 36px;
    line-height: 36px;
    display:block;

}
.register  #getyzm
{
    width:120px;
    height:38px;
    text-align:center;
    line-height:38px;
    margin-top:12px;
    font-size:16px;
    background-color: #afafaf;
    color:#EEE;
    float:right;
    text-decoration:none;
    position:relative;
}
.register  .zhuce{
    width:120px;
    height:38px;
    margin-top:10px;
    font-size:16px;
    float:right;
    background:#c30000;
    color:#fff;
    line-height:38px;
    text-align:center;
}
.register  .register_btn{
    background-color: #c30000;
    color:#fff;
}
.z_f_mask{
    width: 50%;
    position: absolute;
    z-index: 9999;
    left: 0px;
    background:#000;
    height: 80px;
    top: 10px;
    opacity: 0;
}
@media (min-width: 300px) {

}
@media (min-width: 400px) {
    .rule_content{
        background: #fff;
        padding: 20px 10px;
        color: #af9c00;
        margin-top: -10px;
        font-size: 15px;
    }
    .rule_box {
        width: 80%;
        position: fixed;
        top: 4%;
        left: 10%;
        z-index: 9999;
        display: none;
    }
}
/*   清除浮动  */
.show_oper:after,.clearfix:after{
    content:".";
    clear:both;
    height:0px;
    display:block;
    visibility:hidden;
}