@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    background-image: url("../images/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;

}
body{
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    height: 100%;
    height: 100%;
}
.img_responsive{
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.hide{
    display: none;
}
.l{
    float: left;
}
.r{
    float: right;
}
.container_monkey{
    height: 100%;
}
.footer{
    height: 20%;
    background-image: url("../images/img15.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer_left{
    width: 60%;
    padding: 10%;
    box-sizing: border-box;
    height: 100%;

}
.footer_right{
    width: 40%;
    margin-top: 5%;
    position: relative;
}
.game_con{
    height: 80%;
    width: 100%;
    background-image: url("../images/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.game_btn_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 100000;
    top: 0px;
    background: #333;
    opacity: 0;
    display: none;
}
.game_con_header{
    height: 40%;
    box-sizing: border-box;
    padding-top: 0px;
}
.p_img{
    width: 68%;
    margin: 0 auto;
    display: block;
}
.line{
    height: 10%;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 10%;
    opacity: 0.5;
}
.game_con_content{
    height:46% ;
}
.game_con_footer{
    height:14% ;
}
.stone{
    position: absolute;
    left: 31%;
    width: 5%;
    top: 70%;
}
#protagonist{
    height: auto;
    width: 15%;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 43%;
}

/*   倒计时             */
.count_time_box{
    position: absolute;
    right: 0px;
}
.count_down{
    height: 100%;
    box-sizing: border-box;
    padding-top: 11%;
}
.count_down_img{
    display: block;
    width: 56%;
    margin: 0 auto;
    display: none;
}
/*              蒙层              */
.mask_game{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    filter: alpha(opacity = 75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998;
}
/*                     活动规则              */
.game_rule_details{
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 70%;
    z-index: 9999;
    box-sizing: border-box;
    /* padding: 10px; */
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    line-height: 30px;

}
::-webkit-scrollbar{width:0px;}
.p_s_box{
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 13px;
    text-align: center;
}
ul{
    list-style: none;
}
.p_s_img{
    width: 40%;
    vertical-align: middle;
    margin-right: 5px;
}
/*                       活动结束                         */
.game_over{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 9999;
    box-sizing: border-box;
    padding:10px;
    color: #fff;
    display: none;
}
.mess_p{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ffe40a;;
}
.score_box{

}
.p_score_box{
    width: 50%;
    margin: 0 auto;
    padding-top: 27px;
    box-sizing: border-box;
    display: none;
}
/*          礼物框         */
.p_box{

    height: 100%;
}
.p_li{
    width: 20%;
    float: left;
    display: inline-block;
    position: absolute;
    top: 10%;
}
/*   清除浮动  */
.clearfix:after{
    content:".";
    clear:both;
    height:0px;
    display:block;
    visibility:hidden;
}
@media (min-width: 300px) {
    .mess_p{
        font-size: 16px;
    }
}
@media (min-width: 370px) {
    .mess_p{
        font-size: 18px;
    }

}