/* less Euro_quiz */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
//横竖屏识别
@media all and (orientation : landscape) {
  #layer{
    display: block;
    background: #000000;
  }
}
@media all and (orientation : portrait){
  #layer{
    display: none;
  }
}
html{

  body{
    margin: 0;
    /*弹出框*/
    #page {
      font-size: 0.8rem;
      .mask_black{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: .75;
        background-color: #000;
        z-index: 50;
        display: none;
      }
      .mb_start {
        position: absolute;
        width: 86%;
        height: 80vh;
        left: 50%;
        top: 50%;
        margin-top: 6%;
        margin-left: -43%;
        background-image: url("../images/dwl/img/layerBlue.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        z-index: 100;
      }
      .mb_start_btn {
        width: 4rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 0 auto;
        background: url("../images/dwl/img/btnBgBlack.png");
        background-size: 100% 1.5rem;
        font-size: 0.7rem;
        font-weight: 800;
      }
      .mb_rule {
        width: 80%;
        height: 70%;
        margin: 1rem auto 1.4rem;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: #fff;
        overflow-y: auto;
        .mb_rule_title {
          text-align: center;
          margin-bottom: 0.5rem;
        }
        .mb_rule_content {
          p {
            font-size: 0.7rem;
            //height: calc(100% - 1.5rem);
            line-height: 1rem;
            padding: 0.5rem 0;
            overflow-y: auto;
          }
        }
        .mb_rule_prize_new {
          font-size: 0.7rem;
          /*height: calc(84.5%);*/
          line-height: 1rem;
          padding: 0.5rem 0;
          text-align: center;
        }
      }
      .mb_activity_rule {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.5rem;
        color: #000;
      }
      .mb_rule_box {
        display: none;
        position: absolute;
        width: 86%;
        height: 80vh;
        left: 50%;
        top: 50%;
        margin-top: 6%;
        margin-left: -43%;
        background-image: url("../images/dwl/img/layerYellow.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        z-index: 100;
      }
      .mb_myprize {
        position: fixed;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 1.5rem;
        color: #000;
      }
      .mb_prize_box {
        display: none;
        position: absolute;
        width: 80%;
        height:20rem;
        top:50%;
        left: 50%;
        margin-left: -40%;
        margin-top:15%;
        background-image: url("../images/dwl/img/layerRed.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        z-index: 100;
        .mb_rule {
          width: 80%;
          height: 70%;
          margin: 1rem auto 1.4rem;
          img{
            max-width:100%;
          }
        }
        .mb_prize_yes {
          display: none;
        }
        .mb_btn{
          width: 4rem;
          height: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          margin: 0 auto;
          background: url("../images/dwl/img/btnBgBlack.png");
          background-size: 100% 1.5rem;
          font-size: 0.7rem;
          font-weight: 800;
        }
        .mb_btn_open,.mb_btn_help{
          display: none;
        }
      }
      .mask_share {
        display: none;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        position: fixed;
        top: 0;
        z-index: 80000;
        background-image: url("../images/share.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .rule_gift_item{
        width: 100%;
        height: 4.2rem;
        position: relative;
        .prize_name{
          font-size: 0.8rem;
          font-family: "Microsoft YaHei";
          position: absolute;
          left: 46%;
          top: 20%;

        }
        .prize_img{
          position: absolute;
          left: 2%;
          width: 35%;
          height: 80%;
          border-radius: 6px;
        }
        .prize_special{
          height: 40%;
          top: 30%;
          position: absolute;
          left: 2%;
          width: 40%;
          border-radius: 6px;
        }
      }
    }
    /*横屏*/
    #layer{
      position: fixed;
      z-index: 1000;
      width: 100%;
      height: 100vh;
      .layer_img{
        margin: 10vh auto;
        width: 80vh;
        height: 80vh;
        background: url("../images/boxbg.jpg") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
    #main{
      .tips {
        height: 80px;
        background-color: #f9d596;
        color: #fff;
        p{
          color: #fe6c64;
        }
        .dianqing_box{
          position: fixed;
          top: 8vh;
          left: 50%;
          z-index: 2;
          .dianqing{
            position: relative;
            left: -50%;
            height:2.5rem;
          }
        }
        p {
          position: fixed;
          width: 100%;
          line-height: 100px;
          font-size: 1rem;
          text-align: center;
          .number_find {
            font-size: 1.5rem;
            top: -10px;
          }
        }
      }
      #mobiPage {
        width: 100%;
        background: url("../images/front.jpg");
      }
      .swing {
        animation: swing 1000ms 0ms infinite forwards;
      }
    }
    /*音乐*/
    .music_button{
      position: fixed;
      top: auto;
      right: 0.5rem;
      bottom:0.5rem;
      z-index: 2;
      width: 2rem;
      height: 2rem;
      .icon{
        color: #000;
      }
      .play_button{
        z-index: 2;
        animation: rotate 1s linear infinite;
        -webkit-animation: rotate 1s linear infinite;
        display: block;
      }
    }
    /*字体*/
    .font_yahei {
      font-family: 'Microsoft Yahei', '微软雅黑';
    }
    .font_arial {
      font-family: 'Arial';
    }
    .font_sitka {
      font-family: 'Sitka';
    }
    .font_hei {
      font-family: '黑体';
    }
    .center_block {
      margin-left: auto;
      margin-right: auto;
    }
    .content_box {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
    }
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .caret {
      border-top-width: 8px;
      border-right-width: 8px;
      border-left-width: 8px;
    }
    .img_responsive {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }
    .mask_white {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .75;
      background-color: #fff;
      z-index: 9998;
      display: none;
    }
    .mask_black {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .75;
      background-color: #000;
      z-index: 9998;
      display: none;
    }
    .mask_black_noclick {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .75;
      background-color: #000;
      z-index: 9998;
      display: none;
    }
    .mask_common {
      position: fixed;
      z-index: 10000;
    }
    .mask_box {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .register {
      position: fixed;
      top: 15%;
      left: 5%;
      width: 90%;
      z-index: 9999;
      display: block;
      padding: 0.8rem 0;
      font-size: 1rem;
      label {
        display: block;
        margin: 0.2rem 0;
        clear: both;
      }
      .reg_input {
        display: block;
        width: 100%;
        height: 2rem;
        padding-left: 0.5rem;
        line-height: 2rem;
        font-size: 0.7rem;
        border: 1px solid #f09091;
      }
      .reg_box {
        position: relative;
        overflow: hidden;
      }
      .reg_btn {
        float: right;
        width: 5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
        text-align: center;
        line-height: 1.5rem;
        text-decoration: none;
        font-size: 0.7rem;
      }
      .reg_btn_gray {
        background-color: #afafaf !important;
        color: #EEE !important;
      }
      .reg_tips {
        position: absolute;
        font-size: 9px;
        color: #f7d54e;
      }
      .reg_btn_mask {
        display: none;
        position: absolute;
        width: 7.5rem;
        height: 2.4rem;
        right: 0;
        bottom: 0;
      }
      #reg_btn_register {
        text-indent: 1rem;
        letter-spacing: 1rem;
      }
    }
    .rule_box {
      width: 14rem;
      height: 80%;
      top: 10%;
      left: calc(50% - 7rem);
      .rule_header {
        width: 100%;
        height: 7.5rem;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .rule_content {
        height: calc(100% - 7.5rem);
        background-color: #fff;
        padding: 0 0.4rem;
        padding-top: 0.4rem;
        color: #af9c00;
        font-size: 0.7rem;
        overflow-x: hidden;
        overflow-y: auto;
        .rule_content_box {
          margin-bottom: 0.6rem;
          line-height: 1rem;
          .rule_title {
            font-weight: bold;
            font-size: 0.8rem;
          }
          .rule_prize_des {
            margin-bottom: 10px;
          }
          .rule_prize_tips {
            font-weight: 400;
            font-size: 0.6rem;
          }
          .rule_prize_img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .forward {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }
    .input_num_box {
      position: absolute;
      color: #1c1c1c;
    }
    /*注册页面*/
    /*转发好友*/
    /*统计数字提示信息开始*/
  }

}